<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      TODOLIST
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="getTasks()">
        <ion-icon name="refresh" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg-img">

    <h1><b>Aujourd'hui</b></h1>
    <h5>{{ currentDate }}</h5>

    <ion-card *ngFor="let task of tasks">
      <ion-item-sliding>
        <ion-item lines="none">
          <ion-checkbox (ionChange)="changeCheckState(task)" color="success" [(ngModel)]="task.checked" slot="start"></ion-checkbox>
          <ion-label>
            <h3 *ngIf="!task.checked">{{ task.text }}</h3>
            <h3 *ngIf="task.checked" style="text-decoration:line-through;">{{ task.text }}</h3>
            <p>{{ task.jour }} à {{ task.date }}</p>
          </ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="deleteTask(task)">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>

    <ion-card *ngIf="addTask">
      <ion-item lines="none">
        <ion-input [(ngModel)]="myTask" placeholder="Entrer une tâche"></ion-input>
        <ion-button (click)="addTaskToFirebase()" shape="round" slot="end">
          <ion-icon name="add-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card>

    <!-- bouton d'ajout -->
    <ion-button *ngIf="!addTask" (click)="showForm()" shape="round" expand="block" class="add-button">
      <ion-icon name="add-circle-outline" slot="icon-only"></ion-icon>
    </ion-button>

    <ion-button color="warning" *ngIf="addTask"  (click)="showForm()" shape="round" expand="block" class="add-button">
      <ion-icon name="remove-circle-outline" slot="icon-only"></ion-icon>
    </ion-button>

    <!-- bouton de suppression -->
    <ion-button (click)="deleteAll(tasks)" color="danger" shape="round" class="corbeille">
      <ion-icon name="trash" slot="icon-only"></ion-icon>
    </ion-button>

  </div>
</ion-content>
